In [21]:
import pandas as pd
import numpy as np
import json

data_path = r'C:\Users\dalej\OneDrive\Documents\Data\fiets-data-export\fiets-data-export.csv'

In [24]:
df_raw = pd.read_csv(data_path)
df_raw.shape
df_raw.head(5)

,locatiecode,begintijd,type,intensiteit_oplopend,intensiteit_aflopend,intensiteit_beide_richtingen,naam,meetperiode,gebruikte_minuten,data_error_intensiteit,...,betrouwbaarheid,partnercode,partner,aannemer,meetapparatuur,licentiecategorie,beschrijving,breedtegraad,lengtegraad,technische_uitsluiting
0,GAL01_003,2024-09-07 00:00:00,ALLLEGALVEHICLES,8.0,4.0,12.0,Giethoornpad,15.0,5,0.0,...,95,GAL01,Gemeente Almere,X Stream Traffic Consultancy,multiplePneumatic,PDDL,Fietstelpunten gemeente Almere september 2024,52.369562,5.213886,NaN
1,GAL01_003,2024-09-07 00:05:00,ALLLEGALVEHICLES,8.0,4.0,12.0,Giethoornpad,15.0,5,0.0,...,95,GAL01,Gemeente Almere,X Stream Traffic Consultancy,multiplePneumatic,PDDL,Fietstelpunten gemeente Almere september 2024,52.369562,5.213886,NaN
2,GAL01_003,2024-09-07 00:10:00,ALLLEGALVEHICLES,8.0,4.0,12.0,Giethoornpad,15.0,5,0.0,...,95,GAL01,Gemeente Almere,X Stream Traffic Consultancy,multiplePneumatic,PDDL,Fietstelpunten gemeente Almere september 2024,52.369562,5.213886,NaN
3,GAL01_003,2024-09-07 00:15:00,ALLLEGALVEHICLES,4.0,4.0,8.0,Giethoornpad,15.0,5,0.0,...,95,GAL01,Gemeente Almere,X Stream Traffic Consultancy,multiplePneumatic,PDDL,Fietstelpunten gemeente Almere september 2024,52.369562,5.213886,NaN
4,GAL01_003,2024-09-07 00:20:00,ALLLEGALVEHICLES,4.0,4.0,8.0,Giethoornpad,15.0,5,0.0,...,95,GAL01,Gemeente Almere,X Stream Traffic Consultancy,multiplePneumatic,PDDL,Fietstelpunten gemeente Almere september 2024,52.369562,5.213886,NaN

In [22]:
d_dtypes = {}
for col, dty in df_raw.dtypes.items():
    d_dtypes[col] = str(dty)

print(json.dumps(d_dtypes, indent=2))

{
  "locatiecode": "object",
  "begintijd": "object",
  "type": "object",
  "intensiteit_oplopend": "float64",
  "intensiteit_aflopend": "float64",
  "intensiteit_beide_richtingen": "float64",
  "naam": "object",
  "meetperiode": "float64",
  "gebruikte_minuten": "int64",
  "data_error_intensiteit": "float64",
  "peiling": "int64",
  "betrouwbaarheid": "int64",
  "partnercode": "object",
  "partner": "object",
  "aannemer": "object",
  "meetapparatuur": "object",
  "licentiecategorie": "object",
  "beschrijving": "object",
  "breedtegraad": "float64",
  "lengtegraad": "float64",
  "technische_uitsluiting": "float64"
}

In [23]:
print(df_raw.columns)
df_raw.info()
df_raw.describe()

Index(['locatiecode', 'begintijd', 'type', 'intensiteit_oplopend',
       'intensiteit_aflopend', 'intensiteit_beide_richtingen', 'naam',
       'meetperiode', 'gebruikte_minuten', 'data_error_intensiteit', 'peiling',
       'betrouwbaarheid', 'partnercode', 'partner', 'aannemer',
       'meetapparatuur', 'licentiecategorie', 'beschrijving', 'breedtegraad',
       'lengtegraad', 'technische_uitsluiting'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419904 entries, 0 to 419903
Data columns (total 21 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   locatiecode                   419904 non-null  object
 1   begintijd                     419904 non-null  object
 2   type                          419904 non-null  object
 3   intensiteit_oplopend          10368 non-null   float64
 4   intensiteit_aflopend          10368 non-null   float64
 5   intensiteit_beide_richtingen  10368 non-null   float64
 6   naam                          419904 non-null  object
 7   meetperiode                   419904 non-null  float64
 8   gebruikte_minuten             419904 non-null  int64
 9   data_error_intensiteit        419904 non-null  float64
 10  peiling                       419904 non-null  int64
 11  betrouwbaarheid               419904 non-null  int64
 12  partnercode                   419904 non-null  object
 13  partner                       419904 non-null  object
 14  aannemer                      419904 non-null  object
 15  meetapparatuur                419904 non-null  object
 16  licentiecategorie             419904 non-null  object
 17  beschrijving                  419904 non-null  object
 18  breedtegraad                  419904 non-null  float64
 19  lengtegraad                   419904 non-null  float64
 20  technische_uitsluiting        0 non-null       float64
dtypes: float64(8), int64(3), object(10)
memory usage: 67.3+ MB

,intensiteit_oplopend,intensiteit_aflopend,intensiteit_beide_richtingen,meetperiode,gebruikte_minuten,data_error_intensiteit,peiling,betrouwbaarheid,breedtegraad,lengtegraad,technische_uitsluiting
count,10368.000000,10368.000000,10368.000000,419904.0,419904.000000,419904.0,419904.000000,419904.0,419904.000000,419904.000000,0.0
mean,36.719907,37.738426,74.458333,15.0,0.123457,0.0,245.000000,95.0,52.366777,5.218885,NaN
std,39.452531,42.313235,75.526959,0.0,0.775915,0.0,43.874874,0.0,0.005690,0.011221,NaN
min,0.000000,0.000000,0.000000,15.0,0.000000,0.0,180.000000,95.0,52.354544,5.212797,NaN
25%,4.000000,4.000000,8.000000,15.0,0.000000,0.0,240.000000,95.0,52.366787,5.213761,NaN
50%,24.000000,24.000000,56.000000,15.0,0.000000,0.0,240.000000,95.0,52.368695,5.214159,NaN
75%,56.000000,60.000000,116.000000,15.0,0.000000,0.0,240.000000,95.0,52.370434,5.214491,NaN
max,268.000000,636.000000,692.000000,15.0,5.000000,0.0,330.000000,95.0,52.371509,5.243945,NaN

## Loading with Dtypes

In [35]:
dtypes_bikes = {
  "locatiecode": "string",
  "begintijd": "object",
  "type": "category",
  "intensiteit_oplopend": "Int32",
  "intensiteit_aflopend": "Int32",
  "intensiteit_beide_richtingen": "Int32",
  "naam": "string",
  "meetperiode": "float64",
  "gebruikte_minuten": "int64",
  "data_error_intensiteit": "float64",
  "peiling": "int64",
  "betrouwbaarheid": "int64",
  "partnercode": "object",
  "partner": "object",
  "aannemer": "object",
  "meetapparatuur": "object",
  "licentiecategorie": "object",
  "beschrijving": "object",
  "breedtegraad": "float64",
  "lengtegraad": "float64",
  "technische_uitsluiting": "float64"
}

In [36]:
df_bikes = pd.read_csv(data_path, dtype=dtypes_bikes, parse_dates=["begintijd"])

In [37]:
df_bikes.head(5)
df_bikes.dtypes

locatiecode                     string[python]
begintijd                               object
type                                  category
intensiteit_oplopend                     Int32
intensiteit_aflopend                     Int32
intensiteit_beide_richtingen             Int32
naam                            string[python]
meetperiode                            float64
gebruikte_minuten                        int64
data_error_intensiteit                 float64
peiling                                  int64
betrouwbaarheid                          int64
partnercode                             object
partner                                 object
aannemer                                object
meetapparatuur                          object
licentiecategorie                       object
beschrijving                            object
breedtegraad                           float64
lengtegraad                            float64
technische_uitsluiting                 float64
dtype: object

In [42]:
df_bikes['begintijd'].dtypes
df_bikes['type'].cat.categories

Index(['ALLLEGALVEHICLES'], dtype='object')

In [47]:
df_bikes['naam'].value_counts()

naam
Giethoornpad                                        69984
Deventerstraat                                      69984
Hengelostraat                                       69984
Zuidwoldepad                                        69984
Kolkplein / Coevordenbrug                           69984
Fongerspad tussen Stuermeypad en Hal Roachstraat    69984
Name: count, dtype: Int64

In [ ]:
for col in df_bikes.columns:
    val_cnt = df_bikes[col].value_counts()
    if val_cnt < 50:
        ls_cat = df_bikes[col].unique().tolist()
        df_bikes[col]

list

In [ ]:
## Add a new column for long ride
df['age_group'] = pd.cut(df['age'], bins=[0, 18, 35, 65, 100], 
                        labels=['Child', 'Young Adult', 'Adult', 'Senior'])

## Time Series