In [2]:
import pandas as pd
import numpy as np

# Time-Series Data
Data is sourced from https://www.disl.edu/arcos/

In [9]:
df_csv = pd.read_csv(r"C:\Users\dalej\OneDrive\Documents\Data\hydrodata\bsp_hyd_sum.2022.csv\bsp_hyd_sum.2022.csv")
df_csv.head(10)

,ts,battv,chlor1flag,chlor1_avg,chlor2_avg,depth1flag,depth1_avg,dis_oxy1flag,dis_oxy1_avg,dis_oxy2flag,dis_oxy2_avg,pressure,salinity1flag,salinity1_avg,sp_cond1_avg,turbidity1flag,turbidity1_avg,watertemp1flag,watertemp1_avg
0,2022-12-16 17:00:00+00,6.26,NaN,0,0,NaN,2.460,NaN,94.3,NaN,9.15,3.49,NaN,1.09,2.125,NaN,14.14,NaN,16.51
1,2022-12-16 17:30:00+00,6.26,NaN,0,0,NaN,2.462,NaN,94.9,NaN,9.22,3.49,NaN,0.99,1.942,NaN,13.67,NaN,16.51
2,2022-12-16 18:00:00+00,6.26,NaN,0,0,NaN,2.474,NaN,94.8,NaN,9.18,3.51,NaN,0.86,1.695,NaN,13.27,NaN,16.68
3,2022-12-16 18:30:00+00,6.26,NaN,0,0,NaN,2.488,NaN,98.5,NaN,9.49,3.53,NaN,0.99,1.938,NaN,13.18,NaN,16.86
4,2022-12-16 19:00:00+00,6.26,NaN,0,0,NaN,2.507,NaN,97.0,NaN,9.30,3.56,NaN,1.63,3.103,NaN,13.15,NaN,16.92
5,2022-12-16 19:30:00+00,6.26,NaN,0,0,NaN,2.528,NaN,95.9,NaN,9.19,3.59,NaN,1.85,3.501,NaN,12.69,NaN,16.90
6,2022-12-16 20:00:00+00,6.26,NaN,0,0,NaN,2.556,NaN,92.5,NaN,8.82,3.63,NaN,2.47,4.597,NaN,12.48,NaN,16.91
7,2022-12-16 20:30:00+00,6.26,NaN,0,0,NaN,2.591,NaN,92.8,NaN,8.85,3.68,NaN,2.78,5.132,NaN,12.22,NaN,16.85
8,2022-12-16 21:00:00+00,6.26,NaN,0,0,NaN,2.625,NaN,91.4,NaN,8.71,3.73,NaN,2.96,5.450,NaN,11.36,NaN,16.78
9,2022-12-16 21:30:00+00,6.26,NaN,0,0,NaN,2.660,NaN,91.1,NaN,8.70,3.78,NaN,2.83,5.220,NaN,11.27,NaN,16.78

In [10]:
print(df_csv.dtypes)
print('='*20)
print(df_csv.describe())
print('='*20)
print(df_csv.columns)
print('='*20)
print(df_csv.shape)

ts                 object
battv             float64
chlor1flag        float64
chlor1_avg          int64
chlor2_avg          int64
depth1flag        float64
depth1_avg        float64
dis_oxy1flag      float64
dis_oxy1_avg      float64
dis_oxy2flag      float64
dis_oxy2_avg      float64
pressure          float64
salinity1flag     float64
salinity1_avg     float64
sp_cond1_avg      float64
turbidity1flag    float64
turbidity1_avg    float64
watertemp1flag    float64
watertemp1_avg    float64
dtype: object
====================
            battv  chlor1flag  chlor1_avg  chlor2_avg  depth1flag  depth1_avg  \
count  734.000000         0.0       734.0       734.0         0.0  734.000000
mean     6.275899         NaN         0.0         0.0         NaN    2.526723
std      0.005858         NaN         0.0         0.0         NaN    0.245692
min      6.260000         NaN         0.0         0.0         NaN    1.891000
25%      6.270000         NaN         0.0         0.0         NaN    2.390250
50%      6.280000         NaN         0.0         0.0         NaN    2.556500
75%      6.280000         NaN         0.0         0.0         NaN    2.679000
max      6.280000         NaN         0.0         0.0         NaN    3.212000

       dis_oxy1flag  dis_oxy1_avg  dis_oxy2flag  dis_oxy2_avg    pressure  \
count           0.0    734.000000           0.0    734.000000  734.000000
mean            NaN     91.022071           NaN      9.703229    3.592207
std             NaN      4.161590           NaN      0.761232    0.353450
min             NaN     83.300000           NaN      7.750000    2.680000
25%             NaN     88.125000           NaN      9.210000    3.390000
50%             NaN     90.200000           NaN      9.650000    3.630000
75%             NaN     93.900000           NaN     10.100000    3.820000
max             NaN    105.200000           NaN     12.140000    4.560000

       salinity1flag  salinity1_avg  sp_cond1_avg  turbidity1flag  \
count            0.0     734.000000    734.000000             0.0
mean             NaN       3.283978      5.779838             NaN
std              NaN       3.796404      6.293434             NaN
min              NaN       0.110000      0.241000             NaN
25%              NaN       0.630000      1.258750             NaN
50%              NaN       1.670000      3.175500             NaN
75%              NaN       4.457500      8.011500             NaN
max              NaN      17.930000     29.000000             NaN

       turbidity1_avg  watertemp1flag  watertemp1_avg
count      734.000000             0.0      734.000000
mean        27.906608             NaN       11.718436
std         24.917322             NaN        2.516570
min          5.150000             NaN        5.953000
25%         13.655000             NaN        9.680000
50%         20.960000             NaN       12.155000
75%         31.952500             NaN       13.250000
max        255.600000             NaN       17.990000
====================
Index(['ts', 'battv', 'chlor1flag', 'chlor1_avg', 'chlor2_avg', 'depth1flag',
       'depth1_avg', 'dis_oxy1flag', 'dis_oxy1_avg', 'dis_oxy2flag',
       'dis_oxy2_avg', 'pressure', 'salinity1flag', 'salinity1_avg',
       'sp_cond1_avg', 'turbidity1flag', 'turbidity1_avg', 'watertemp1flag',
       'watertemp1_avg'],
      dtype='object')
====================
(734, 19)

In [11]:
df_csv = pd.read_csv(r"C:\Users\dalej\Downloads\di_met_min.2023.csv\di_met_min.2023.csv")
df_csv.head(10)

,ts,precip1,precip1flag,airtemp1,airtemp1flag,solarrad1,solarrad1flag,quantumrad1,quantumrad1flag,winddir1,winddir1flag,windspeed1,windspeed1flag,bar_pressure1,bar_pressure1flag,relhumid1_avg,relhumid1flag,battv
0,2023-01-05 00:00:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.6834,3.0,224.8,3.0,6.535,3.0,30.01,3.0,67.80,3.0,12.43
1,2023-01-05 00:01:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.5914,3.0,256.3,3.0,5.057,3.0,30.01,3.0,68.42,3.0,12.49
2,2023-01-05 00:02:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.7758,3.0,251.9,3.0,5.380,3.0,30.01,3.0,68.42,3.0,12.49
3,2023-01-05 00:03:00+00,0.0,3.0,18.12,3.0,0.0,3.0,19.6839,3.0,236.3,3.0,5.057,3.0,30.01,3.0,66.97,3.0,12.50
4,2023-01-05 00:04:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5925,3.0,266.3,3.0,5.316,3.0,30.01,3.0,66.70,3.0,12.51
5,2023-01-05 00:05:00+00,0.0,3.0,18.26,3.0,0.0,3.0,19.7765,3.0,252.5,3.0,5.283,3.0,30.01,3.0,65.26,3.0,12.51
6,2023-01-05 00:06:00+00,0.0,3.0,18.26,3.0,0.0,3.0,19.5929,3.0,231.1,3.0,5.062,3.0,30.01,3.0,66.15,3.0,12.51
7,2023-01-05 00:07:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5009,3.0,254.3,3.0,4.749,3.0,30.01,3.0,66.77,3.0,12.51
8,2023-01-05 00:08:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.6853,3.0,246.0,3.0,5.181,3.0,30.01,3.0,66.84,3.0,12.51
9,2023-01-05 00:09:00+00,0.0,3.0,18.19,3.0,0.0,3.0,19.5013,3.0,230.9,3.0,5.688,3.0,30.01,3.0,67.52,3.0,12.51

In [12]:
print(type(df_csv['ts'].iloc[0])) 
df_csv['ts'] = pd.to_datetime(df_csv['ts'], format='%Y-%m-%d %H:%M:%S+00')
print(type(df_csv['ts'].iloc[0]))

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [15]:
ts_min, ts_max = df_csv['ts'].min(), df_csv['ts'].max()
print(f"Timestamp min: {ts_min}, max: {ts_max}")
df_csv.set_index('ts', inplace=True)

Timestamp min: 2023-01-01 00:00:00, max: 2023-12-31 23:59:00

In [17]:
df_csv.index.month

Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       ...
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype='int32', name='ts', length=521558)

In [22]:
df_csv['2023-01-01':'2023-01-31']

KeyError: 'Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is not allowed.'

## Aggregations

In [14]:
df_csv_agg = df_csv.groupby('CountryRegionCode').agg({
    'GeographyKey' : [('GeographyCount', 'count'), ('GeographyDistCount', 'nunique')],
    'PostalCode' : [('PostalMin', 'min'), ('PostalMax', 'max')],
})
df_csv_agg.head(10)

KeyError: 'CountryRegionCode'